<%- include header %>
<% locals.posts.forEach(function(post, index){ %>
    <p><h2><a href="/single/<%= post.id %>"><%= post.title %></a></h2><time><%= post.time %> by:<a href="#"><%= post.user %></a></time></p>
    <p><%- post.post %></p>
<% }) %>
<%- include footer %>